{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hauptseite/style.css' %}">
    <title>About</title>
</head>
<body>
    <header>
        <div>
            <h1>About</h1>
        </div>

        <div>
            <button onclick="window.location.href='http://127.0.0.1:8000/upload';">Upload</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/login';">Login</button>
        </div>
    </header>

    <div style="height: 300px;">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, aliquid, iste quaerat perspiciatis repellat quo iure quia et enim atque unde mollitia dolorem repellendus fuga.
    </div>

    <footer>
        <a href="\">home</a>
        <a href="about">about</a>
    </footer>
</body>
</html>