<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hauptseite/style.css' %}">    
    <title>Upload a Video</title>
</head>
<body>
    <header>
        <div>
            <h1>Video-Upload page</h1>
        </div>

        <div>
            <button onclick="window.location.href='http://127.0.0.1:8000/upload';">Upload</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/login';">Login</button>
        </div>
    </header>
</body>
</html>